 {% if invoice.taxes %}
  <center><strong>{{ label('account.invoice', 'taxes') }}</strong></center>
  <table class="condensed">
   <thead>
     <th>{{ label('account.invoice.tax', 'description') }}</th>
     <th class="text-right">{{ label('account.invoice.tax', 'base') }}</th>
     <th class="text-right">{{ label('account.invoice.tax', 'amount') }}</th>
   </thead>
   <tbody class="border">
     {% for tax, value in invoice.raw.html_taxes.items() %}
       <tr>
          <td>
           {{ tax.render.description }}
         </td>
         <td class="text-right">
           {{ value['base'] }} {{ invoice.currency.render.symbol }}
         </td>
         <td class="text-right">
           {{ value['amount'] }} {{ invoice.currency.render.symbol }}
         </td>
       </tr>
       {% if value['legal_notice'] %}
          <tr>
            <td colspan="3">
              <strong>{{ label('account.invoice.tax', 'legal_notice') }}:</strong> {{ value['legal_notice'] }}
            </td>
          </tr>
      {% endif %}
     {% endfor %}
   </tbody>
 </table>
{% endif %}
