<table style="width:100%;">
    <thead>
        <th nowrap>{{ label('stock.inventory.line', 'product') }}</th>
        <th class="text-right" nnowrap>{{ label('stock.inventory.line', 'expected_quantity') }}</th>
        <th class="text-right" nnowrap>{{ label('stock.inventory.line', 'quantity') }}</th>
    </thead>
    <tbody class="border">
        {% for line in inventory.lines %}
        <tr>
            <td>{{ line.product and line.product.render.code }} - {{ line.product and line.product.render.name }}</td>
            <td class="text-right">{{ line.render.expected_quantity or 0}}</td>
            <td class="text-right">{{ line.render.quantity or 0}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
