<table style="width:100%;">
  <thead>
    <tr>
      <th nowrap>{{ label('product.product', 'code') }}</th>
      <th nowrap>{{ label('product.template', 'name') }}</th>
      {% if show_lots %}<th>{{ label('stock.move', 'lot') }}</th>{% endif %}
      <th class="text-right" nowrap>{{label('stock.move', 'quantity') }}</th>
      <th nowrap>{{ label('stock.move', 'unit') }}</th>
    </tr>
  </thead>
  <tbody class="border">
  {% if record.incoming_moves %}{% for move in record.incoming_moves %}
     <tr>
       <td>{{ move.product and move.product.render.code or '' }}</td>
       <td>{{ move.product and move.product.render.name or '-' }}</td>
       {% if show_lots %}<td>{{ move.lot and move.lot.render.number or '' }}{% if move.raw.lot and move.lot.raw.expiration_date %} ({{ move.lot.render.expiration_date }}){% endif %}</td>{% endif %}
       <td class="text-right">{{ move.render.quantity }}</td>
       <td>{{ move.unit.render.name }}</td>
     </tr>
     <tr style="border-bottom: 1px solid black;"> </tr>
     {% endfor %}
  {% else %}{% for move in record.moves %}
     <tr>
       <td>{{ move.product and move.product.render.code or '' }}</td>
       <td>{{ move.product and move.product.render.name or '-' }}</td>
       {% if show_lots %}<td>{{ move.lot and move.lot.render.number or '' }}{% if move.raw.lot and move.lot.raw.expiration_date %} ({{ move.lot.render.expiration_date }}){% endif %}</td>{% endif %}
       <td class="text-right">{{ move.render.quantity }}</td>
       <td>{{ move.unit.render.name }}</td>
     </tr>
     {% endfor %}
  {% endif %}
  </tbody>
</table>
